{% extends 'base.html' %}
{% load static %}
{% block extra_css1 %}
<link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}
{% block content %}
    <main class="contact">
      <div class="contact__header">
        <h2>Contact Me</h2>
      </div>
      <div class="contact__grid">
        <div class="contact__grid__info">
          <h4>Address</h4>
          <i class="ri-map-pin-line"></i>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

          <h4>Phone</h4>
          <i class="ri-phone-line"></i>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>

          <h4>Email</h4>
          <i class="ri-mail-line"></i>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>

        <form action="" class="contact__form">
            <h3>Send Message</h3>
            <h4>Full Name</h4>
            <input type="text">
            <h4>Email</h4>
            <input type="text">
            <h4>Type your Message</h4>
            <input type="text">
            <button type="submit">Send</button>
        </form>
      </div>
    </main>
{% endblock %}
