{% extends 'base.html' %}
{% load static %}
{% block extra_css1 %}
<link rel="stylesheet" href="{% static 'create.css' %}">
{% endblock %}
{% block content %}
  <main class="create">
    <h2 class="create__heading">Create Post</h2>
    <form class="create__form" action="{% url 'create' %}" method="POST">
      {% csrf_token %}
      <div class="create__form__input">
        <p>Title</p>
        <input type="text" name="title" class="title" placeholder="Enter Title">
      </div>
      <div class="create__form__input">
        <p>Main Content</p>
        <textarea name="body" id="" cols="30" rows="10" placeholder="Enter content"></textarea>
      </div>
      <button type="submit">Create Post</button>
    </form>
  </main>
{% endblock %}