{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="logo">Logo</a>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/create_get">Create</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </header>
      <section class="posts single-post">
          <h2>{{post.title}}</h2>
          <h5>{{post.create_at}}</h5>
          <p>{{post.body}}</p>
          <div class="btn-container">
            <a href="{% url 'update' pk=post.id %}" class="btn">Update</a>
            <form action="{% url 'delete' pk=post.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Delete" class="btn">
            </form>
          </div>
      </section>
    </div>
  </body>
</html>