{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="logo">Logo</a>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/create_get">Create</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </header>
      {% for post in posts %}
      <div class="posts {% cycle 'odd' 'even' %}">
        <a href="post/{{post.id}}">
          <h2>{{post.title}}</h2>
          <h5>{{post.create_at}}</h5>
          <p>{{post.body|truncatewords:20}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>