{% extends 'base.html' %}
{% load static %}
{% block extra_css1 %}
<link rel="stylesheet" href="{% static 'read.css' %}">
{% endblock %}
{% block content %}
<main class="read">
    <h2>{{post.title}}</h2>
    <h5>{{post.create_at}}</h5>
    <p>{{post.body}}</p>
    <div class="read__buttons">
      <a href="{% url 'update' pk=post.id %}">Update</a>
      <form action="{% url 'delete' pk=post.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </div>
</main>
{% endblock %}