{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="logo">Logo</a>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="/create_get">Create</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </header>

      
      <section class="create">
        <h2 class="heading">Update Post</h2>
        <form action="{% url 'update' pk=post.id%}" method="POST">
          {% csrf_token %}
          <div class="input-box">
            <p>Title</p>
            <input type="text" name="title" class="title" placeholder="Enter Title" value="{{post.title}}">
          </div>
          <div class="input-box">
            <p>Main Content</p>
            <textarea name="body" id="" cols="30" rows="10" placeholder="Enter content">{{post.body}}</textarea>
          </div>
          <input type="submit" value="Update" class="btn">
        </form>
        </section>
      </div>
  </body>
</html>